// $img-path: '/* @echo IMG_PATH */';

.search {
    #buttonIcon {
        top: 57%;
        right: auto;
        left: 0.5em;
    }
    .textfield {
        font: normal 14px Arial,Helvetica,sans-serif;
    }
    .ui-selectmenu-text {
        padding: 0.4em 2.1em 0.4em 34px !important;
    }
    .ui-selectmenu-menu .ui-menu-item {
          padding:10px 0 10px 42px;
            font: normal 14px Arial,Helvetica,sans-serif;
    }
    .ui-selectmenu-menu {
        width: 12em;
        height: 20em;
        line-height: 2em;
        border: 1px solid #ccc;
        padding: 0;
        margin: 0;
        overflow: scroll;
        overflow-x: hidden;
    }
    .ui-selectmenu-button {
        background:none;
        vertical-align: middle;
        border-radius: 0;
        height: 45px;
        border:1px solid #afafaf;
        font:normal 14px Arial,Helvetica,sans-serif;
        padding:6px 0 0 0;
    }
    .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
        border-radius:0;
        border:0;
    }
    .ui-selectmenu-menu .ui-menu-item .ui-icon {
      height: 24px;
      width: 24px;
      top: 0.7em;
      left:7px;
    }
    .ui-icon.ar {
      background: url('/img/flags/lng-ar.png') 0 0 no-repeat;
    }
    .ui-icon.ar {
      background: url('/img/flags/lng-ar.png') 0 0 no-repeat;
    }
    .ui-icon.bn {
      background: url('/img/flags/lng-bn.png') 0 0 no-repeat;
    }
    .ui-icon.cn {
      background: url('/img/flags/lng-cn.png') 0 0 no-repeat;
    }
    .ui-icon.de {
      background: url('/img/flags/lng-de.png') 0 0 no-repeat;
    }
    .ui-icon.el {
      background: url('/img/flags/lng-el.png') 0 0 no-repeat;
    }
    .ui-icon.en {
      background: url('/img/flags/lng-en.png') 0 0 no-repeat;
    }
    .ui-icon.es {
      background: url('/img/flags/lng-es.png') 0 0 no-repeat;
    }
    .ui-icon.fr {
      background: url('/img/flags/lng-fr.png') 0 0 no-repeat;
    }
    .ui-icon.gu {
      background: url('/img/flags/lng-gu.png') 0 0 no-repeat;
    }
    .ui-icon.he {
      background: url('/img/flags/lng-he.png') 0 0 no-repeat;
    }
    .ui-icon.hi {
      background: url('/img/flags/lng-hi.png') 0 0 no-repeat;
    }
    .ui-icon.id {
      background: url('/img/flags/lng-id.png') 0 0 no-repeat;
    }
    .ui-icon.it {
      background: url('/img/flags/lng-it.png') 0 0 no-repeat;
    }
    .ui-icon.jp {
      background: url('/img/flags/lng-jp.png') 0 0 no-repeat;
    }
    .ui-icon.kn {
      background: url('/img/flags/lng-kn.png') 0 0 no-repeat;
    }
    .ui-icon.ko {
      background: url('/img/flags/lng-ko.png') 0 0 no-repeat;
    }
    .ui-icon.ml {
      background: url('/img/flags/lng-ml.png') 0 0 no-repeat;
    }
    .ui-icon.pl {
      background: url('/img/flags/lng-pl.png') 0 0 no-repeat;
    }
    .ui-icon.pt {
      background: url('/img/flags/lng-pt.png') 0 0 no-repeat;
    }
    .ui-icon.ru {
      background: url('/img/flags/lng-ru.png') 0 0 no-repeat;
    }
    .ui-icon.sv {
      background: url('/img/flags/lng-sv.png') 0 0 no-repeat;
    }
    .ui-icon.ta {
      background: url('/img/flags/lng-ta.png') 0 0 no-repeat;
    }
    .ui-icon.te {
      background: url('/img/flags/lng-te.png') 0 0 no-repeat;
    }
    .ui-icon.th {
      background: url('/img/flags/lng-th.png') 0 0 no-repeat;
    }
    .ui-icon.tr {
      background: url('/img/flags/lng-tr.png') 0 0 no-repeat;
    }
    .ui-icon.tw {
      background: url('/img/flags/lng-tw.png') 0 0 no-repeat;
    }
    .ui-icon.ua {
      background: url('/img/flags/lng-ua.png') 0 0 no-repeat;
    }
    .ui-icon.vi {
      background: url('/img/flags/lng-vi.png') 0 0 no-repeat;
    }
    /* select with CSS avatar icons */
    option.avatar {
      background-repeat: no-repeat !important;
      padding-left: 20px;
    }
    .avatar .ui-icon {
      background-position: left top;
    }
    .polls-list {
        .backgrid {
            th {
                font:normal 11px/11px Arial,Helvetica,sans-serif;
                text-transform:uppercase;
                text-align:left;
                padding:0 0 18px 18px;
                color:#343434;
                display: none;
            }
            td {
                border-top:1px solid #dddddd;
                padding:16px 18px;
                position:relative;
                display: none;
                &:hover {
                    .showPopup {
                        display:block;
                        opacity:1;
                    }
                }
                &:last-child {
                    border:0;
                    padding:0;
                }
            }
            tr.active {
                .showPopup {
                    display:block;
                    opacity:1;
                }
                td:last-child {
                    width:384px;
                }
            }
            td.renderable,
            th.renderable {
              display: table-cell;
            }
            /*tr:hover {
                .showPopup {
                    display:block;
                }
            }*/

        }
        .mymargin {
            border-radius:100px;
            overflow:hidden;
            width:50px;
            height:50px;
            text-align:center;
        }
        .tagline {
            font:bold 14px /18px Arial,Helvetica,sans-serif;
            color:#222;
        }
        a {
            text-decoration: none;
        }
        .answers {
            font:normal 11px / 14px Arial,Helvetica,sans-serif;
            padding:0 0 0 10px;
        }
        .showPopup {
            position:absolute;
            top:-1px;
            bottom:0;
            right:0;
            width:34px;
            background-color:#ececec;
            background-position:50% 50%;
            background-repeat:no-repeat;
            background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAPCAYAAADd/14OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDJDRTk3OTFDQTdFMTFFNUFDQkVFQjk0M0MwRUNCNkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDJDRTk3OTJDQTdFMTFFNUFDQkVFQjk0M0MwRUNCNkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0MkNFOTc4RkNBN0UxMUU1QUNCRUVCOTQzQzBFQ0I2QiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0MkNFOTc5MENBN0UxMUU1QUNCRUVCOTQzQzBFQ0I2QiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PvhFEDMAAACKSURBVHjahJGBDYAwCAQri1gn0U6im7VOok5i3UQwaCr5KsmnCb2E52lCCI6rY0XWyDocKFJoYfWsldXWwFR8+hos4GTGQVjAnRX+YNL3C/YleMMDgGVRT8ZzVs/OwIlAM5qeTJgIjTGQ2MmEjBc2Bn2vZVBuWVPIZTzzH4Qu8xpXu8wGcnzqFGAAhyQn4XcfpnMAAAAASUVORK5CYII=');
            cursor:pointer;
            opacity:0.2;
            &:hover {
                opacity:0.8;
            }
        }
        .popupDiv {
            position:absolute;
            top:-1px;
            left:0;
            right:0;
            font-family:Arial,Helvetica,sans-serif;
            border:1px solid #dddddd;
            padding:17px;
            z-index: 1000;
            h5.asked-by {
                margin:0;
                padding:0;
                font-weight:normal;
                font-size:12px;
            }
            .info-string {
                font-style:italic;
                color:#5f5f5f;
                font-size:11px;
                display:inline-block;
                width:100%;
                margin:16px 0;
                span.item {
                    display:block;
                    float:left;
                    &:not(:last-child):after {
                        content:'';
                        display:block;
                        float:right;
                        height:11px;
                        background-color:#5f5f5f;
                        width:1px;
                        margin:0 14px;
                    }
                    &.status {
                        text-transform:uppercase;
                        font-style:normal;
                        font-weight:bold;
                        &.closed {
                            color:red;
                        }
                    }
                }
            }
            ol.answers {
                counter-reset:li;
                margin-left:0;
                padding-left:0;
                border-top:1px solid #dddddd;
                border-bottom:1px solid #dddddd;
                padding:10px 0;
                li {
                    position:relative;
                    margin:0px 0px 4px 20px;
                    padding:4px 8px;
                    list-style:none;
                    font-size:14px;
                    line-height:14px;
                    &:before {
                        content:counter(li);
                        counter-increment:li;
                        position:absolute;
                        top:0;
                        left:-20px;
                        -moz-box-sizing:border-box;
                        -webkit-box-sizing:border-box;
                        box-sizing:border-box;
                        width:22px;
                        height:22px;
                        margin-right:8px;
                        text-align:center;
                        border:2px solid #a8a8a8;
                        border-radius:30px;
                        line-height:20px;
                        font-size:12px;
                    }
                }
            }
            .source {
                margin:15px 0 0;
                font-size:11px;
                .source-name {
                    font-style:italic;
                    color:#5f5f5f;
                }
            }
            .view-page {
                width:21px;
                height:20px;
                background: url(../img/views.svg) no-repeat 50% 50%;
                background-size: contain;
                float:right;
                cursor:pointer;
            }
        }
    }
}
